# Virtual environments
venv/
.venv/
env/

# Python cache files (these cause huge slowdowns)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Git and IDE folders
.git/
.vscode/
.idea/

# General logs and databases
*.sqlite3
*.log