fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector==0.2.4
sentence-transformers>=2.6.0
pyyaml==6.0.1
requests==2.31.0
python-dotenv
python-multipart
python-jose[cryptography]==3.3.0
bcrypt
prometheus-fastapi-instrumentator==7.1.0